/* FONTS */
@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-Light.woff2") format("woff2"),
    url("../fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src:
    url("../fonts/Manrope-ExtraBold.woff2") format("woff2"),
    url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* INDEX HEADER DESKTOP*/
.header-hero-wrapper {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.site-header {
  padding-top: 32px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  display: block;
  width: 200px;
  height: 33px;
  opacity: 1;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.6;
}

.language {
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  position: relative;
  width: 100px;
  height: 40px;
  display: block;
  background: #FFFFFF;
  border: 0.5px solid #1DABDD;
  border-radius: 110px;
  cursor: pointer;
  z-index: 1;
}

.language__chkbx:focus {
  outline: none;
}

.language__chkbx:active {
  outline: none;
}

.language__chkbx:checked~.switch-circle {
  transform: translateX(43px);
}

.language__chkbx:checked~.switch-lang1 {
  color: #000000;
}

.language__chkbx:checked~.switch-lang2 {
  color: #FFFFFF;
}

.switch-lang {
  padding-left: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: -0.02em;
  color: black;
  z-index: 10;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch-lang1 {
  color: white;
}

.switch-lang2 {
  padding-left: 20px;
}

.switch-circle {
  position: absolute;
  top: 3px;
  bottom: 4px;
  left: 6px;
  width: 44px;
  height: 32px;
  padding: 4px 9px 9px 9px;
  background: #1DABDD;
  border-radius: 110px;
  transition: 0.3s ease transform;
  z-index: -2;
}


/* INDEX HERO DESKTOP*/
.hero {
  padding: 128px 0 155px 0;
  background-image: url("../images/strawberry-bg.png"), url("../images/tomato-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 800px) 400px, calc(50% + 770px) 350px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 120px;
  max-width: 958px;
  font-weight: 800;
  font-size: 80px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.external-sites-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.external-site {
  position: relative;
  max-width: 509px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px 24px 32px;
  background-color: #FFFFFF;
  box-shadow: 0px 30px 80px rgba(45, 8, 92, 0.05);
  border-radius: 24px;
  text-align: center;
}

.external-site:first-child {
  margin-right: 144px;
}

.external-site__img {
  margin-bottom: 24px;
}

.very-berry-img {
  width: 200px;
  height: 51px;
}

.tashkentskiye-sadi-img {
  width: 181px;
  height: 73px;
}

.external-site__txt {
  margin-top: 0;
  margin-bottom: 34px;
}

.external-site__external-link {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  background-color: #F6F2FF;
  background-image: url("../images/icon-external-link.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  border: 2px solid transparent;
}

.external-site__external-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}

.external-site__external-link:hover {
  border: 2px solid #5F4A96;
}

.external-site__external-link--red {
  background-image: url("../images/icon-external-link-red.svg");
  background-color: #FFF2F2;
}

.external-site__external-link--red:hover {
  border: 2px solid #DE0D17;

}

/* INDEX CONTACT DESKTOP*/
.contact {
  padding-top: 120px;
  padding-bottom: 64px;
}

.contact__container {
  max-width: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contact__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 100px;
  line-height: 137px;
  text-align: center;
  letter-spacing: -0.06em;
  color: rgba(0, 0, 0, 1);
}

.contact__tel-wrapper {
  position: relative;
  width: 100%;
  max-width: 447px;
  display: flex;
  flex-direction: column;
  padding: 24px 112px;
  margin-bottom: 56px;
  background-color: #ECFFF1;
  border-radius: 24px;
  background-image: url("../images/icon-dial.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
}

.contact__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.7);
}

.contact__tel {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.contact__tel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.contact__email-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 24px 124px 24px 112px;
  margin-bottom: 56px;
  background-color: #FFF7EC;
  border-radius: 24px;
  background-image: url("../images/icon-mailto.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
}

.contact__mail {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.contact__mail::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.contact__address-wrapper {
  position: relative;
  width: 100%;
  max-width: 665px;
  display: flex;
  flex-direction: column;
  padding: 24px 50px 24px 112px;
  background-color: #FFF1F1;
  border-radius: 24px;
  background-image: url("../images/icon-address.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
  word-break: break-word;
}

.contact__address {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.contact__address::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.contact__address-txt {
  font-style: normal;
  padding-right: 12px;
}

/* INDEX FOOTER DESKTOP*/
.site-footer {
  padding: 48px 0;
}

.site-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 48px;
}

/* VERY_BERRY */
/* VERY_BERRY HEADER DESKTOP*/
.btn-scroll-top {
  width: 56px;
  height: 56px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 16px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icon-arrow-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
  box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 100;
}

.very-berry-header-hero-wrapper {
  background-image: url("../images/very-berry-hero-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.very-berry__header {
  padding-top: 30px;
}

.very-berry__header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.very-berry__language {
  border-color: #5F4A96;
}

.very-berry__switch-circle {
  background-color: #5F4A96;
}

/* VERY_BERRY HERO DESKTOP*/
.very-berry__hero {
  padding-top: 193px;
  padding-bottom: 217px;
}

.very-berry__hero__content {
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
}

.very-berry__hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: -0.04em;
  color: #000000;
}

.very-berry__hero__txt {
  margin: 0;
  width: 100%;
  max-width: 700px;
  margin-bottom: 40px;
  font-weight: 500;
}

.very-berry__hero__link {
  display: inline-block;
  margin-right: 24px;
  padding: 16px 40px 18px 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  background-color: #5F4A96;
  border-radius: 8px;
  text-decoration: none;
}

.very-berry__hero__download-presentation-link {
  display: inline-block;
  padding: 16px 32px 18px 72px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #5F4A96;
  background-color: #FFFFFF;
  border: 1px solid #5F4A96;
  border-radius: 8px;
  text-decoration: none;
  background-image: url("../images/icon-download.svg");
  background-repeat: no-repeat;
  background-position: left 32px top 18px;
}

/* VERY_BERRY ABOUT US DESKTOP*/
.very-berry__about-us {
  padding-top: 186px;
  padding-bottom: 320px;
  background-color: #5F4A96;
  color: #FFFFFF;
  overflow-x: hidden;
}

/* VERY_BERRY EXPORT DESKTOP*/
.very-berry__export-bluberry {
  padding: 382px 128px 24px 128px;
  margin-bottom: 32px;
  background-image: url("../images/export-bluberry.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.very-berry__export-bluberry__title {
  margin: 0;
  font-weight: 500;
  font-size: 250px;
  line-height: 342px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #FFFFFF;
  text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
}

.very-berry__export-routes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  margin: 0;
  list-style: none;
}

.very-berry__export-routes-item {
  display: flex;
  align-items: center;
}

.very-berry__exporting-country {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
}

.very-berry__exporting-country::after {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-image: url("../images/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
  display: inline-block;
}

.very-berry__importing-country {
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
}

/* VERY_BERRY PRODUCT-OVERVIEW DESKTOP*/
.very-berry__product-overview {
  position: relative;
  padding: 250px 0;

}

.very-berry__product-overview::before {
  width: 650px;
  height: 306px;
  content: "";
  position: absolute;
  top: 530px;
  left: calc(50% - 1000px);
  background-image: url("../images/product-overview-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.very-berry__product-overview__title {
  margin-top: 0;
  margin-bottom: 250px;
  font-weight: 300;
  font-size: 240px;
  line-height: 240px;
  text-align: center;
  letter-spacing: -0.05em;
}

.very-berry__product-overview__dl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.very-berry__product-overview__dt-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C3C3CB;
  padding: 0 0 10px 0;
}

.very-berry__product-overview__dt-wrapper:first-child {
  padding-top: 0;
}

.very-berry__product-overview__dt-wrapper:last-child { 
  padding-bottom: 7px;
}

.very-berry__product-overview__dt-wrapper:not(:last-child) {
  margin-bottom: 120px;
}

.very-berry__product-overview__dt-inner-wrapper {
  display: flex;
  align-items: flex-end;
}

.very-berry__product-overview__dt {
  width: 100%;
  max-width: 103px;
  margin-right: 270px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  word-break: break-all;
}

.very-berry__product-overview__dd {
  width: 500px;
  font-weight: 400;
  font-size: 80px;
  line-height: 109px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  /* word-break: break-all; */
}

.very-berry__product-overview__desc {
  width: 100%;
  max-width: 373px;
  margin: 0;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  align-self: flex-end;
  justify-self: flex-end;
}

/* VERY_BERRY ABOUT-BLUBERRIES DESKTOP*/
.very-berry__about-bluberries {
  position: relative;
}

.very-berry__about-bluberries::before {
  position: absolute;
  width: 540px;
  height: 360px;
  top: 60px;
  right: calc(50% - 1000px);
  background-image: url("../images/about-bluberry-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
}

.very-berry__about-bluberries__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.very-berry__about-bluberries__title {
  width: 100%;
  max-width: 806px;
  margin-top: 0;
  margin-bottom: 120px;
  font-weight: 500;
  font-size: 120px;
  line-height: 110%;
  letter-spacing: -0.03em;
}

.very-berry__about-bluberries__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.very-berry__about-bluberries__card-img {
  width: 1400px;
  height: 756px;
  margin-bottom: 24px;
}

.very-berry__about-bluberries__card-txt {
  width: 100%;
  max-width: 1162px;
  margin: 0;
}

.very-berry__about-bluberries__images-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    ". . ."
    ". . .";
  padding: 0;
  margin: 0px;
  list-style: none;
}

.very-berry__about-bluberries__images-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* VERY_BERRY DELIVERY DESKTOP */
.very-berry__delivery {
  padding: 103px 0 461px 0;
  background-color: #FFFFFF;
  background-image: url("../images/delivery-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 800px 400px;
}

.very-berry__delivery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.very-berry__delivery__title {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 120px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.very-berry__delivery__txt-wrapper {
  width: 100%;
  max-width: 1233px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.very-berry__delivery__txt {
  width: 100%;
  max-width: 459px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: left;
}

/* VERY_BERRY ADVANTAGES DESKTOP */
.very-berry__advantages {
  padding: 474px 0 200px 0;
  background-color: #5F4A96;
  background-image: url("../images/advantages-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 800px 400px;
}

.very-berry__advantages__container {}

.very-berry__advantages__cards {
  width: 100%;
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.very-berry__advantages__card {
  width: 100%;
  max-width: 765px;
}

.very-berry__advantages__card:not(:last-child) {
  margin-bottom: 150px;
}

.very-berry__advantages__card:nth-child(even) {
  align-self: flex-end;
}

.very-berry__advantages__subtitle {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 80px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.very-berry__advantages__desc-wrapper {
  display: flex;
  align-items: stretch;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 0px 0px #B46BFD, 15px 15px 0px 0px #FD976B;
  -webkit-box-shadow: 10px 10px 0px 0px #B46BFD, 20px 20px 0px 0px #FD976B;
  -moz-box-shadow: 10px 10px 0px 0px #B46BFD, 15px 15px 0px 0px #FD976B;
  padding: 40px;
}

.very-berry__advantages__desc-wrapper--second {
  box-shadow: 10px 10px 0px 0px #FD6B97, 15px 15px 0px 0px #E0FD6B;
  -webkit-box-shadow: 10px 10px 0px 0px #FD6B97, 20px 20px 0px 0px #E0FD6B;
  -moz-box-shadow: 10px 10px 0px 0px #FD6B97, 15px 15px 0px 0px #E0FD6B;
}

.very-berry__advantages__decoration {
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.very-berry__advantages__decoration-shape {
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
  background-color: #000000;
  flex-shrink: 0;
}

.very-berry__advantages__decoration-shape--square {
  border-radius: 0;
  transform: rotate(45deg);
}

.very-berry__advantages__decoration-line {
  width: 3px;
  height: 100%;
  display: block;
  background-color: black;
}


.very-berry__advantages__desc {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #000000;
}

/* VERY_BERRY CONTACT DESKTOP*/
.very-berry__contact {
  padding-top: 120px;
  padding-bottom: 170px;
  background-image: url("../images/very-berry-contact-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 750px) 400px;
}

.very-berry__contact__container {
  max-width: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.very-berry__contact__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 100px;
  line-height: 137px;
  text-align: center;
  letter-spacing: -0.06em;
  color: rgba(0, 0, 0, 1);
}

.very-berry__contact__tel-wrapper {
  position: relative;
  width: 100%;
  max-width: 447px;
  display: flex;
  flex-direction: column;
  padding: 24px 112px;
  margin-bottom: 56px;
  background-color: #ECFFF1;
  border-radius: 24px;
  background-image: url("../images/icon-dial.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
}

.very-berry__contact__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.7);
}

.very-berry__contact__tel {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.very-berry__contact__tel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.very-berry__contact__email-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 24px 124px 24px 112px;
  margin-bottom: 56px;
  background-color: #FFF7EC;
  border-radius: 24px;
  background-image: url("../images/icon-mailto.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
}

.very-berry__contact__mail {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.very-berry__contact__mail::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.very-berry__contact__address-wrapper {
  position: relative;
  width: 100%;
  max-width: 665px;
  display: flex;
  flex-direction: column;
  padding: 24px 50px 24px 112px;
  background-color: #FFF1F1;
  border-radius: 24px;
  background-image: url("../images/icon-address.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
  word-break: break-word;
}

.very-berry__contact__address {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.very-berry__contact__address::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.very-berry__contact__address-txt {
  font-style: normal;
  padding-right: 10px;
}

/* VERY_BERRY FOOTER DESKTOP */
.very-berry__footer {
  padding: 57px 0;
  background-color: #5F4A96;
}

.very-berry__footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.very-berry__footer__main-logo {
  width: 172px;
  height: 44px;
}

.very-berry__footer__socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.very-berry__footer__socials-item:not(:last-child) {
  margin-right: 48px;
}

.very-berry__footer__produced-by-logo {
  width: 164px;
  height: 62px;
}

/* TABLET */
@media only screen and (max-width: 1054px) {
  .container {
    max-width: 744px;
    padding-right: 32px;
    padding-left: 32px;
  }

  /*INDEX HEADER TABLET  */
  .main-logo:hover {
    opacity: 1
  }

  .main-logo:active {
    opacity: 1;
  }

  .header-hero-wrapper {
    background-image: url("../images/hero-bg-tablet.png");
  }

  /* INDEX HERO TABLET*/
  .hero {
    padding: 119px 0 49px 0;
    background-image: url("../images/strawberry-bg-tablet.png"), url("../images/tomato-bg-tablet.png");
    background-position: calc(50% - 340px) 350px, calc(50% + 315px) 780px;
  }

  .hero__title {
    max-width: 680px;
    margin-bottom: 49px;
    font-size: 60px;
  }

  .external-sites-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  .external-site:first-child {
    margin-right: 0;
    margin-bottom: 56px;
  }

  /* INDEX CONTACT TABLET*/
  .contact {
    padding-top: 80px;
    padding-bottom: 65px;
  }

  /* INDEX FOOTER TABLET*/
  .site-footer {
    padding: 0 0 48px 0;
  }

  .btn-scroll-top {
    bottom: 100px;
    right: 16px;
  }

  /* VERY_BERRY */
  /* VERY_BERRY HEADER TABLET*/
  .very-berry-header-hero-wrapper {
    background-image: url("../images/very-berry-hero-img-tablet.png");
    /* background-size: contain; */
  }

  .very-berry__header {
    padding-top: 30px;
  }

  .very-berry__header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .very-berry__logo {
    width: 200px;
    height: 52px;
  }

  .produced-by-logo {
    width: 140px;
    height: 53px;
  }

  /* VERY_BERRY HERO TABLET*/
  .very-berry__hero {
    padding-top: 120px;
    padding-bottom: 335px;
  }

  .very-berry__hero__content {
    max-width: unset;
    margin-right: 0;
  }

  .very-berry__hero__title {
    padding-right: 20px;
    font-size: 70px;
    line-height: 96px;
    text-align: left;
  }

  .very-berry__hero__txt {
    max-width: 420px;
    font-size: 16px;
    line-height: 160%;
  }

  /* VERY_BERRY ABOUT US TABLET*/
  .very-berry__about-us {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  /* VERY_BERRY EXPORT TABLET*/
  .very-berry__export-bluberry {
    padding: 186px 0 0 0;
    background-image: url("../images/export-bluberry-tablet.png");
    background-size: contain;
  }

  .very-berry__export-bluberry__title {
    font-size: 130px;
    line-height: 178px;
  }

  .very-berry__export-routes {
    padding: 0;
  }

  .very-berry__exporting-country {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
  }

  .very-berry__exporting-country::after {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-image: url("../images/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: "";
    display: inline-block;
  }

  .very-berry__importing-country {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
  }

  /* VERY_BERRY PRODUCT-OVERVIEW TABLET*/
  .very-berry__product-overview {
    position: relative;
    padding: 200px 0px;
  }

  .very-berry__product-overview::before {
    width: 491px;
    height: 232px;
    top: 430px;
    left: calc(50% - 520px);
    background-image: url("../images/product-overview-bg-tablet.png");
  }

  .very-berry__product-overview::after {
    width: 491px;
    height: 232px;
    top: 430px;
    left: calc(50% - 520px);
  }

  .very-berry__product-overview__title {
    margin-bottom: 200px;
    font-size: 120px;
    line-height: 110%;
  }

  .very-berry__product-overview__dt-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: none;
    padding: 32px 0px;
  }

  .very-berry__product-overview__dt-wrapper:not(:last-child) {
    margin-bottom: 0px;
  }

  .very-berry__product-overview__dt-inner-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #C3C3CB;
    padding-bottom: 12px;
  }

  .very-berry__product-overview__dt {
    max-width: 103px;
    margin-right: 0;
  }

  .very-berry__product-overview__dd {
    width: unset;
    font-weight: 400;
    font-size: 70px;
    line-height: 96px;
    text-transform: uppercase;
  }

  .very-berry__product-overview__desc {
    width: 100%;
    padding-top: 12px;
    max-width: unset;
  }

  /* VERY_BERRY ABOUT-BLUBERRIES TABLET*/
  .very-berry__about-bluberries::before {
    position: absolute;
    width: 540px;
    height: 360px;
    top: -200px;
    right: calc(50% - 600px);
    background-image: url("../images/about-bluberry-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
  }

  .very-berry__about-bluberries__title {
    max-width: 680px;
    margin-bottom: 120px;
    font-size: 90px;
  }

  .very-berry__about-bluberries__card {
    margin-bottom: 64px;
  }

  .very-berry__about-bluberries__card-img {
    width: 680px;
    height: 368px;
    margin-bottom: 24px;
  }

  .very-berry__about-bluberries__card-txt {
    width: 100%;
    max-width: 680px;
    margin: 0;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.8);
  }

  .very-berry__about-bluberries__images-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px 30px;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
    padding: 0;
    margin: 0px;
    list-style: none;
  }

  .very-berry__about-bluberries__images-img {
    width: 100%;
    height: 217px;
  }

  /* VERY_BERRY DELIVERY TABLET */
  .very-berry__delivery {
    padding: 80px 0 444px 0;
    background-image: url("../images/delivery-bg-tablet.png");
    background-size: 744px 372px;
  }

  .very-berry__delivery__title {
    margin-bottom: 72px;
    font-size: 60px;
  }

  .very-berry__delivery__txt-wrapper {
    max-width: initial;
    flex-direction: column;
    align-items: flex-start;
    justify-content: initial;
  }

  .very-berry__delivery__txt:nth-child(2n) {
    align-self: flex-end;
  }

  .very-berry__delivery__txt:not(:last-child) {
    margin-bottom: 72px;
  }


  /* VERY_BERRY ADVANTAGES TABLET */
  .very-berry__advantages {
    padding: 472px 0 150px 0;
    background-image: url("../images/advantages-bg-tablet.png");
    background-size: 744px 372px;
  }

  .very-berry__advantages__cards {
    max-width: initial;
    align-items: center;
  }

  .very-berry__advantages__card {
    max-width: unset;
  }

  .very-berry__advantages__card:not(:last-child) {
    margin-bottom: 100px;
  }

  .very-berry__advantages__card:nth-child(even) {
    align-self: unset;
  }

  /* VERY_BERRY CONTACT TABLET*/
  .very-berry__contact {
    padding-top: 80px;
    padding-bottom: 210px;
    background-image: url("../images/very-berry-contact-bg-tablet.png");
    background-repeat: no-repeat;
    background-position: left calc(50% - 350px) bottom -40px;
  }

  /* VERY_BERRY FOOTER TABLET */
  .very-berry__footer {
    padding: 55px 0;
  }

  .very-berry__footer__main-logo {
    width: 150px;
    height: 38px;
  }

  .very-berry__footer__produced-by-logo {
    width: 140px;
    height: 53px;
  }
}

@media only screen and (max-width: 1399px) and (min-width: 1055px) {
  .very-berry__product-overview__dt {
    margin-right: 100px;
  }

  .very-berry__product-overview__title {
    font-size: 150px;
  }

  .very-berry__export-bluberry__title {
    font-size: 195px;
  }

  .very-berry__product-overview__dd {
    font-size: 65px;
  }
}

/* TABLET SMALL */
@media only screen and (max-width: 743px) and (min-width: 534px) {
  .very-berry__hero__content {
    align-items: flex-start;
  }

  .very-berry__about-bluberries__images-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .very-berry__about-bluberries__card-img {
    width: 100%;
    height: auto;
  }

  .very-berry__export-bluberry {
    background-size: cover;
  }

  .very-berry__export-bluberry__title {
    font-size: 100px;
    line-height: 1.5;
  }
  .very-berry__export-routes {
    flex-direction: column;

  }
  .very-berry__export-routes>li>span {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .very-berry__product-overview {
    padding-top: 100px;
  }

  .very-berry__product-overview::before {
    top: 143px;
  }

  .very-berry__product-overview__title {
    font-size: 80px;
    margin-bottom: 80px;
  }

  .very-berry__about-bluberries__images-img {
    width: 100%;
    height: auto;
  }

  .very-berry__product-overview__dd  {
    font-size: 52px;
  }

  .very-berry__footer__produced-by-logo {
    display: none;
  }
}

/* MOBILE */
@media only screen and (max-width: 533px) {
  .container {
    max-width: 576px;
    padding-right: 16px;
    padding-left: 16px;
  }

  /* INDEX HEADER MOBILE*/
  .header-hero-wrapper {
    background-image: url("../images/hero-bg-mobile.png");
  }

  .site-header {
    padding-top: 20px;
  }

  .main-logo {
    width: 150px;
    height: 25px;
  }

  .language {
    width: 92px;
    height: 37px;
    padding-top: 2px;
  }

  .language__chkbx:checked~.switch-circle {
    transform: translateX(40px);
  }

  .switch-lang {
    padding-left: 15px;
  }

  .switch-circle {
    top: 3px;
    left: 4px;
    width: 43px;
    height: 29px;
  }

  /* INDEX HERO MOBILE*/
  .hero {
    padding: 64px 0 56px 0;
    background-image: url("../images/strawberry-bg-mobile.png"), url("../images/tomato-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 150px) 450px, calc(50% + 150px) 870px;
  }

  .hero__title {
    margin-bottom: 40px;
    max-width: 343px;
    font-size: 38px;
  }

  /* INDEX CONTACT MOBILE*/
  .contact {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .contact__title {
    font-size: 70px;
    line-height: 96px;
  }

  .contact__tel-wrapper {
    padding: 24px 0px 26px 90px;
    margin-bottom: 24px;
    background-position: top 24px left 16px, top 40px right 24px;
    background-size: 48px, 32px;
  }

  .contact__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  .contact__tel {
    font-size: 18px;
    line-height: 25px;
  }

  .contact__email-wrapper {
    margin-bottom: 24px;
    padding: 24px 0px 26px 90px;
    background-size: 48px, 32px;
    background-position: top 24px left 16px, top 40px right 24px;
  }

  .contact__mail {
    font-size: 18px;
    line-height: 25px;
  }

  .contact__address-wrapper {
    padding: 24px 0px 26px 90px;
    background-position: top 34px left 16px, top 40px right 24px;
    background-size: 48px, 32px;
    word-break: break-word;
  }

  .contact__address {
    font-size: 18px;
    line-height: 25px;
    padding-right: 50px;
  }

  /* INDEX FOOTER MOBILE*/
  .site-footer {
    padding: 48px 0;
  }

  .site-footer__main-logo {
    margin-bottom: 40px;
  }

  .site-footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .socials__item:not(:last-child) {
    margin-right: 40px;
  }

  /* VERY_BERRY */
  /* VERY_BERRY HEADER MOBILE*/
  .btn-scroll-top {
    bottom: 50px;
    right: 16px;
  }

  .very-berry-header-hero-wrapper {
    background-image: url("../images/very-berry-hero-img-mobile.png");
    background-size: cover;
  }

  .very-berry__header {
    padding-top: 30px;
  }

  .very-berry__header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .produced-by-logo {
    display: none;
  }

  .very-berry__logo {
    width: 132px;
    height: 33px;
  }

  .very-berry__language {
    width: 92px;
    height: 37px;
  }

  .very-berry__switch-circle {
    width: 42px;
    height: 29px;
  }

  /* VERY_BERRY HERO MOBILE*/
  .very-berry__hero {
    padding-top: 64px;
    padding-bottom: 385px;
  }

  .very-berry__hero__content {
    width: 100%;
    max-width: unset;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .very-berry__hero__title {
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.04em;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -.05em;
  }

  .very-berry__hero__txt {
    width: 100%;
    max-width: unset;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.02em;
  }

  .very-berry__hero__links-wrapper {
    display: flex;
    align-items: center;
  }

  .very-berry__hero__link {
    flex-shrink: 0;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .very-berry__hero__download-presentation-link {
    display: inline-block;
    padding: 12px 24px 12px 58px;
    font-size: 16px;
    line-height: 22px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 24px top 14px;
    flex-shrink: 1;
  }

  /* VERY_BERRY ABOUT US MOBILE*/
  .very-berry__about-us {
    padding-top: 48px;
    padding-bottom: 253px;
  }

  /* VERY_BERRY EXPORT MOBILE*/
  .very-berry__export-bluberry {
    padding: 168px 0px 20px 0px;
    background-image: url("../images/export-bluberry-mobile.png");
    background-size: contain;
  }

  .very-berry__export-bluberry__title {
    font-size: 70px;
    line-height: 96px;
  }

  .very-berry__export-routes {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .very-berry__export-routes-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .very-berry__exporting-country {
    font-size: 30px;
    line-height: 41px;
  }

  .very-berry__importing-country {
    font-size: 30px;
    line-height: 41px;
    width: 100px;
    text-align: left;
    word-break: break-all;
  }

  /* VERY_BERRY PRODUCT-OVERVIEW MOBILE*/
  .very-berry__product-overview {
    position: relative;
    padding: 163px 0 100px 0;
    z-index: 10;
  }

  .very-berry__product-overview::before {
    width: 297px;
    height: 140px;
    top: 220px;
    left: calc(50% - 295px);
    background-image: url("../images/product-overview-bg-mobile.png");
    background-size: cover;
    z-index: -1;
  }

  .very-berry__product-overview::after {
    content: "";
    width: 297px;
    height: 140px;
    top: 220px;
    left: calc(50% - 295px);
    background-color: transparent;
    position: absolute;
  }

  .very-berry__product-overview__title {
    margin-bottom: 100px;
    font-size: 62px;
    line-height: 120%;
    z-index: 10;
  }

  /* .very-berry__product-overview__dl {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  } */

  .very-berry__product-overview__dt-wrapper {
    /* width: 100%;
    display: flex; */
    flex-direction: column;
    /* align-items: center; */
    border: none;
    /* padding: 10px 0px; */
  }

  .very-berry__product-overview__dt-wrapper:not(:last-child) {
    margin-bottom: 0;
  }

  .very-berry__product-overview__dt-inner-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #C3C3CB;

  }

  .very-berry__product-overview__dt {
    width: 100%;
    /* max-width: 68px; */
    margin-right: 0;
    font-size: 14px;
    line-height: 19px;
    word-break: break-all;
  }

  .very-berry__product-overview__dd {
    width: unset;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    word-break: break-all;
    letter-spacing: -0.05em;
  }

  .very-berry__product-overview__desc {
    width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.02em;
  }

  /* VERY_BERRY ABOUT-BLUBERRIES MOBILE*/
  .very-berry__about-bluberries {
    position: relative;

  }

  .very-berry__about-bluberries::before {
    position: absolute;
    width: 249px;
    height: 166px;
    top: -90px;
    right: calc(50% - 280px);
    background-image: url("../images/about-bluberry-bg-mobile.png");
    background-position: center;
    background-size: cover;
    content: "";
    display: initial;
  }

  .very-berry__about-bluberries__title {
    width: 100%;
    max-width: 342px;
    margin-bottom: 48px;
    font-size: 50px;
    line-height: 110%;
    letter-spacing: -0.03em;
  }

  .very-berry__about-bluberries__card {
    margin-bottom: 40px;
  }

  .very-berry__about-bluberries__card-img {
    width: 342px;
    height: 184px;
    margin-bottom: 16px;
  }

  .very-berry__about-bluberries__card-txt {
    width: 100%;
    max-width: 343px;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: -0.02em;
  }

  .very-berry__about-bluberries__images-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0px;
    list-style: none;
  }

  .very-berry__about-bluberries__images-img {
    width: 343px;
    height: 230px;
  }

  /* VERY_BERRY DELIVERY MOBILE */
  .very-berry__delivery {
    padding: 64px 0 243px 0;
    background-image: url("../images/delivery-bg-mobile.png");
    background-size: 375px 187px;
  }

  .very-berry__delivery__title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 42px;
  }

  .very-berry__delivery__txt-wrapper {
    max-width: initial;
    align-items: center;
    justify-content: initial;
  }

  .very-berry__delivery__txt {
    font-size: 14px;
    line-height: 22px;
  }

  .very-berry__delivery__txt:not(:last-child) {
    margin-bottom: 16px;
  }

  .very-berry__delivery__txt:nth-child(2n) {
    align-self: initial;
  }

  /* VERY_BERRY ADVANTAGES MOBILE */
  .very-berry__advantages {
    padding: 243px 0 200px 0;
    background-image: url("../images/advantages-bg-mobile.png");
    background-size: 375px 187px;
  }

  .very-berry__advantages__cards {
    width: 100%;
    align-items: flex-start;
  }

  .very-berry__advantages__card {
    width: 100%;
    padding-right: 19px;
    /* max-width: 323px; */
  }

  .very-berry__advantages__subtitle {
    font-size: 50px;
    line-height: 110%;
  }

  .very-berry__advantages__desc-wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    padding: 40px;
  }

  .very-berry__advantages__desc {
    display: flex;
    align-items: stretch;
    font-size: 14px;
    line-height: 23px;
  }

  /* VERY_BERRY CONTACT MOBILE*/
  .very-berry__contact {
    padding-top: 56px;
    padding-bottom: 215px;
    background-image: url("../images/very-berry-contact-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: left calc(50% - 150px) bottom 0px;
  }

  .very-berry__contact__container {
    max-width: unset;
  }

  .very-berry__contact__title {
    font-size: 70px;
    line-height: 96px;
  }

  .very-berry__contact__tel-wrapper {
    max-width: unset;
    padding: 26px 120px 26px 80px;
    margin-bottom: 24px;
    background-size: 48px, 32px;
    background-position: top 24px left 16px, center right 16px;
  }

  .very-berry__contact__subtitle {
    font-size: 14px;
    line-height: 19px;
  }

  .very-berry__contact__tel {
    font-size: 18px;
    line-height: 25px;
  }

  .very-berry__contact__email-wrapper {
    max-width: unset;
    padding: 24px 93px 24px 80px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-size: 48px, 32px;
    background-position: top 24px left 16px, center right 16px;
  }

  .very-berry__contact__mail {
    font-size: 18px;
    line-height: 25px;
  }

  .very-berry__contact__address-wrapper {
    max-width: unset;
    padding: 24px 76px 24px 80px;
    margin-bottom: 24px;
    background-size: 48px, 32px;
    background-position: top 24px left 16px, center right 16px;
    word-break: break-word;
  }

  .very-berry__contact__address {
    font-size: 18px;
    line-height: 25px;
  }

  .very-berry__contact__address-txt {
    font-style: normal;
    padding-right: 10px;
  }

  /* VERY_BERRY FOOTER MOBILE */
  .very-berry__footer {
    padding: 48px 0;
  }

  .very-berry__footer__container {
    flex-wrap: wrap;
    justify-content: initial;
  }

  .very-berry__footer__main-logo {
    width: 136px;
    height: 35px;
    margin-right: auto;
  }

  .very-berry__footer__socials {
    max-width: 260px;
    margin-top: 40px;
    order: 3;
    padding: 0;
    margin: 40px auto 0 auto;
  }

  .very-berry__footer__socials-link svg {
    width: 40px;
    height: 40px;
  }

  .very-berry__footer__socials-item:not(:last-child) {
    margin-right: 48px;
  }

  .very-berry__footer__produced-by-logo {
    width: 150px;
    height: 55px;
    order: 2;
  }
}

/* MOBILE SMALL */
@media only screen and (max-width: 374px) {
  .btn-scroll-top {
    width: 45px;
    height: 45px;
    background-size: 20px;
  }

  .very-berry__hero__download-presentation-link {
    padding: 12px 12px 12px 35px;
    background-position: left 10px center;
  }

  .very-berry__product-overview {
    padding-top: 100px;
  }

  .very-berry__product-overview__title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .very-berry__product-overview__dd {
    font-size: 32px;
  }

  .very-berry__about-bluberries__card-txt {
    max-width: 320px;
  }

  .very-berry__contact__tel-wrapper {
    padding: 26px 26px 26px 80px;
  }

  .very-berry__contact__mail {
    word-break: break-all;
  }

  .very-berry__footer__main-logo {
    width: 120px;
  }

  .very-berry__footer__produced-by-logo {
    width: 130px;
  }
}