/* TOMATO */
.tomato {
  background: url("../images/tomato-body-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* TOMATO HEADER DESKTOP */
.tomato__header {
  padding-top: 30px;
}

.tomato__header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tomato__language {
  border-color: #DE0D17;
}

.tomato__switch-circle {
  background-color: #DE0D17;
}

/* TOMATO HERO DESKTOP*/
.tomato__hero {
  padding-top: 134px;
  padding-bottom: 500px;
  background-image: url("../images/tomato-hero-bg.png");
  background-repeat: no-repeat;
  background-position: top 100px right calc(50% - 650px);
  background-size: 1073px 750px;
}

.tomato__hero__content {
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
}

.tomato__hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: -0.04em;
  color: #000000;
}

.tomato__hero__txt {
  margin: 0;
  width: 100%;
  max-width: 700px;
  margin-bottom: 40px;
  font-weight: 500;
}

.tomato__hero__link {
  display: inline-block;
  margin-right: 24px;
  padding: 16px 40px 18px 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  background-color: #DE0D17;
  border-radius: 8px;
  text-decoration: none;
}

.tomato__hero__download-presentation-link {
  display: inline-block;
  padding: 16px 32px 18px 72px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #DE0D17;
  background-color: #FFFFFF;
  border: 1px solid #DE0D17;
  border-radius: 8px;
  text-decoration: none;
  background-image: url("../images/icon-download-red.svg");
  background-repeat: no-repeat;
  background-position: left 32px top 18px;
}

/* TOMATO TASTE DESKTOP */
.tomato__taste {
  padding-bottom: 522px;
  background-image: url("../images/taste-bg.png");
  background-repeat: no-repeat;
  background-position: left calc(50% - 650px) bottom;
}

.tomato__taste__title {
  margin: 0;
  font-weight: 300;
  font-size: 210px;
  line-height: 240px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #000000;
}

/* TOMATO ABOUT-US DESKTOP */
.tomato__about-us {
  padding-bottom: 200px;
}

.tomato__about-us__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tomato__about-us__title {
  margin-top: 0;
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 120px;
  line-height: 164px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
  align-self: center;
}

.tomato__about-us__card {
  width: 100%;
  max-width: 804px;
}

.tomato__about-us__card:nth-of-type(even) {
  margin-left: 30px;
  margin-top: 80px;
  align-self: flex-end;
}

.tomato__about-us__card::before {
  position: absolute;
  top: 550px;
  right: 200px;
  width: 326px;
  height: 317px;
  background-image: url("../images/decoration-arrow1.png");
  background-repeat: no-repeat;
  background-size: 326px 317px;
  content: "";
}

.tomato__about-us__card::after {
  position: absolute;
  bottom: 200px;
  left: 400px;
  width: 348px;
  height: 317px;
  background-image: url("../images/decoration-arrow2.png");
  background-repeat: no-repeat;
  background-size: 348px 317px;
  content: "";
}

.tomato__about-us__card--small {
  width: 100%;
  max-width: 566px;
}

.tomato__about-us__card-img {
  width: 804px;
  height: 550px;
  margin-bottom: 24px;
}

.tomato__about-us__card--small .tomato__about-us__card-img {
  width: 566px;
  height: 387px;
}

.tomato__about-us__card-txt {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #000000;
}

/* TOMATO GALLERY DESKTOP */
.tomato__gallery {
  padding-bottom: 200px;
}

.tomato__gallery__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 200px;
  font-weight: 800;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}

.tomato__gallery__title::after {
  position: absolute;
  top: 130px;
  right: 50px;
  width: 144px;
  height: 166px;
  background-image: url("../images/gallery-deco.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.tomato__gallery-wrapper {
  display: flex;
  justify-content: space-between;
}

.tomato__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tomato__img {
  display: block;
  width: unset;
  height: unset;
  margin-bottom: 30px;
}

/* TOMATO SWEET DESKTOP */
.tomato__sweet {
  /* background-image: url("../images/sweet-bg.png"); */
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 175px;
}

.tomato__sweet-wrapper {
  width: 100%;
  border: 1px solid #000000;
  border-left: 0;
  border-right: 0;
}

.tomato__sweet__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.tomato__sweet__title-wrapper {
  padding: 45px 149px 45px 0;
  padding-right: 149px;
  border-right: 1px solid #000000;
}

.tomato__sweet__title {
  max-width: 686px;
  margin: 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: rgba(0, 0, 0, 0.6);
}

.tomato__sweet__txt-wrapper {
  flex-grow: 1;
  padding-left: 118px;
}

.tomato__sweet__txt {
  position: relative;
  width: 100%;
  max-width: 377px;
  margin: 0;
  font-weight: 800;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: rgba(0, 0, 0, 0.6);
}

.tomato__sweet__txt::after {
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 60px;
  height: 60px;
  background-image: url("../images/sweet-decor.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

/* TOMATO CONTACT DESKTOP*/
.tomato__contact {
  background-color: #FFFFFF;
  padding-top: 120px;
  padding-bottom: 170px;
  background-image: url("../images/tomato-contact-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 600px) 240px;
}

.tomato__contact__container {
  max-width: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.tomato__contact__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 100px;
  line-height: 137px;
  text-align: center;
  letter-spacing: -0.06em;
  color: rgba(0, 0, 0, 1);
}

.tomato__contact__tel-wrapper {
  position: relative;
  width: 100%;
  max-width: 447px;
  display: flex;
  flex-direction: column;
  padding: 24px 112px;
  margin-bottom: 56px;
  background-color: #ECFFF1;
  border-radius: 24px;
  background-image: url("../images/icon-dial.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
}

.tomato__contact__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.7);
}

.tomato__contact__tel {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.tomato__contact__tel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.tomato__contact__email-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 24px 124px 24px 112px;
  margin-bottom: 56px;
  background-color: #FFF7EC;
  border-radius: 24px;
  background-image: url("../images/icon-mailto.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
}

.tomato__contact__mail {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.tomato__contact__mail::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.tomato__contact__address-wrapper {
  position: relative;
  width: 100%;
  max-width: 665px;
  display: flex;
  flex-direction: column;
  padding: 24px 50px 24px 112px;
  background-color: #FFF1F1;
  border-radius: 24px;
  background-image: url("../images/icon-address.svg"), url("../images/icon-external-link-grey.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 24px, top 40px right 24px;
  word-break: break-word;
}

.tomato__contact__address {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.tomato__contact__address::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.tomato__contact__address-txt {
  font-style: normal;
  padding-right: 10px;
}

/* TOMATO FOOTER DESKTOP */
.tomato__footer {
  padding: 57px 0;
  background-color: #FFFFFF;
  background-image: url("../images/tomato-body-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.tomato__footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tomato__footer__main-logo {
  width: 172px;
  height: 44px;
}

.tomato__footer__socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tomato__footer__socials-item:not(:last-child) {
  margin-right: 48px;
}

.tomato__footer__produced-by-logo {
  width: 164px;
  height: 62px;
}

@media only screen and (min-width: 745px) and (max-width: 1200px) {
  .tomato__gallery-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tomato__picture {
    width: 100%;
  }

  .tomato__about-us__card {
    max-width: unset;
  }

  .tomato__img {
    width: 100%;
  }

  .tomato__taste {
    background-position: calc(50% - 400px) bottom;
  }

  .tomato__taste__title {
    font-size: 100px;
    line-height: 100px;
  }

  .tomato__about-us__card--small {
    max-width: unset;
  }

  .tomato__about-us__card .tomato__about-us__card-img {
    width: 100%;
  }

  .tomato__gallery__title {
    font-size: 65px;
  }

  .tomato__gallery__title::after {
    width: 100px;
    height: 100px;
    background-size: contain;
    top: 215px;
    right: 100px;
  }


  .tomato__about-us__card-img {
    width: 100%;
  }

  .tomato__sweet__title-wrapper {
    padding-right: 0;
  }

  .tomato__sweet__title {
    font-size: 35px;
  }

  .tomato__sweet__txt-wrapper {
    padding-left: 50px;
  }

  .tomato__sweet__txt {
    max-width: 556px;
  }

  .tomato__sweet__txt::after {
    bottom: -60px;
    right: 10px;
  }

  .tomato__about-us__card::after {
    display: none;
  }

  .tomato__about-us__card:nth-of-type(even) {
    margin-left: 0;
    margin-top: 200px;
  }

  .tomato__about-us__card::before {
    width: 150px;
    height: 150px;
    top: unset;
    bottom: 590px;
    background-size: contain;
  }
}



@media only screen and (max-width: 744px) {

  /* TOMATO TABLET*/
  .tomato {
    /* background: none; */
    background-image: url("../images/tomato-body-bg-tablet.png");
  }

  /*TOMATO HEADER TABLET  */
  .tomato__logo {
    width: 140px;
    height: 52px;
  }

  /* TOMATOES HERO TABLET*/
  .tomato__hero {
    padding-top: 120px;
    padding-bottom: 451px;
    background-image: url("../images/tomato-hero-bg-tablet.png");
    background-position: bottom 180px right calc(50% - 230px);
    background-size: contain;
  }

  .tomato__hero__content {
    width: 100%;
    max-width: unset;
    margin-right: 0;
  }

  .tomato__hero__title {
    padding-right: 20px;
    font-size: 70px;
    line-height: 96px;
    text-align: left;
  }

  .tomato__hero__txt {
    max-width: 420px;
    font-size: 16px;
    line-height: 160%;
  }

  /* TOMATO TASTE TABLET*/
  .tomato__taste {
    padding-bottom: 471px;
    background-image: url("../images/taste-bg-tablet.png");
    background-position: left calc(50% - 280px) bottom 150px;
  }

  .tomato__taste__title {
    font-size: 100px;
    line-height: 110%;
  }

  /* TOMATO ABOUT-US TABLET */
  .tomato__about-us {
    padding-bottom: 264px;
  }

  .tomato__about-us__card {
    width: 100%;
    max-width: 502px;
  }

  .tomato__about-us__card:nth-of-type(even) {
    margin-left: 0;
  }

  .tomato__about-us__card::before {
    position: absolute;
    top: 600px;
    right: 35px;
    width: 152px;
    height: 147px;
    background-image: url("../images/decoration-arrow1.png");
    background-repeat: no-repeat;
    background-size: 152px 147px;
    content: "";
  }

  .tomato__about-us__card::after {
    position: absolute;
    bottom: 330px;
    left: 30px;
    width: 142px;
    height: 129px;
    background-image: url("../images/decoration-arrow2.png");
    background-repeat: no-repeat;
    background-size: 142px 129px;
    content: "";
  }

  .tomato__about-us__card--small {
    width: 100%;
    max-width: 502px;
  }

  .tomato__about-us__card-img {
    width: 502px;
    height: 343px;
    margin-bottom: 24px;
  }

  .tomato__about-us__card--small .tomato__about-us__card-img {
    width: 502px;
    height: 343px;
  }

  .tomato__about-us__card-txt {
    font-size: 18px;
  }

  /* TOMATO GALLERY TABLET */
  .tomato__gallery {
    padding-bottom: 113px;
  }

  .tomato__gallery__title {
    margin-bottom: 120px;
    font-size: 80px;
  }

  .tomato__gallery__title::after {
    width: 144px;
    height: 166px;
    top: 170px;
    right: 50px;
    background-size: contain;
  }

  .tomato__gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tomato__col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tomato__img {
    display: block;
    width: unset;
    height: unset;
    margin-bottom: 30px;
  }

  .tomato__col3 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tomato__col3>picture:nth-child(1) img {
    margin-top: -230px;
  }

  .tomato__col3>picture:nth-child(3) img {
    margin-top: -150px;
  }

  /* TOMATO SWEET TABLET */
  .tomato__sweet {
    padding-bottom: 150px;
  }

  .tomato__sweet-wrapper {
    border: none;
  }

  .tomato__sweet__container {
    flex-direction: column;
  }

  .tomato__sweet__title-wrapper {
    padding: 24px 0;
    border-right: 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }

  .tomato__sweet__title {
    font-size: 66px;
  }

  .tomato__sweet__txt-wrapper {
    position: relative;
    padding: 24px 0;
  }

  .tomato__sweet__txt {
    position: relative;
    max-width: 100%;
    padding-bottom: 24px;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -0.05em;
    border-bottom: 1px solid #000000;
  }

  .tomato__sweet__txt::after {
    position: absolute;
    bottom: -35px;
    right: 60px;
    width: 80px;
    height: 80px;
  }

  /* TOMATO TABLET*/
  .tomato__contact {
    padding-top: 80px;
    padding-bottom: 210px;
    background-image: url("../images/tomato-contact-bg-tablet.png");
    background-repeat: no-repeat;
    background-position: left calc(50% - 244px) bottom 30px;
    background-size: 256px 272px;
  }

  .tomato__contact__address-wrapper {
    background-position: top 34px left 24px, top 40px right 24px;

  }



  /* TOMATO FOOTER TABLET */
  .tomato__footer {
    padding: 55px 0;
  }

  .tomato__footer__main-logo {
    width: 150px;
    height: 38px;
  }

  .tomato__footer__produced-by-logo {
    width: 140px;
    height: 53px;
  }
}

@media only screen and (max-width: 576px) {

  /* TOMATO MOBILE*/
  .tomato {
    /* background: none; */
    background-image: url("../images/tomato-body-bg-mobile.png");
  }

  /* TOMATO MOBILE*/
  .btn-scroll-top {
    bottom: 150px;
    right: 16px;
  }

  /* TOMATO HEADER MOBILE */
  .tomato__logo {
    width: 120px;
    height: 48px;
  }

  .tomato__language {
    width: 92px;
    height: 37px;
  }

  .tomato__switch-circle {
    width: 42px;
    height: 29px;
  }

  /* TOMATO HERO MOBILE*/
  .tomato__hero {
    padding-top: 53px;
    padding-bottom: 324px;
    background-image: url("../images/tomato-hero-bg-mobile.png");
    background-position: bottom 120px right calc(50% - 70px);
  }

  .tomato__hero__content {
    width: 100%;
    max-width: unset;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .tomato__hero__title {
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -.05em;
  }

  .tomato__hero__txt {
    width: 100%;
    max-width: unset;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.02em;
  }

  .tomato__hero__links-wrapper {
    display: flex;
    align-items: center;
  }

  .tomato__hero__link {
    flex-shrink: 0;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .tomato__hero__download-presentation-link {
    display: inline-block;
    padding: 12px 24px 12px 58px;
    font-size: 16px;
    line-height: 22px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 24px top 14px;
    flex-shrink: 1;
  }

  /* TOMATO TASTE MOBILE*/
  .tomato__taste {
    padding-bottom: 300px;
    background-image: url("../images/taste-bg-mobile.png");
    background-position: left calc(50% - 160px) bottom 40px;
  }

  .tomato__taste__title {
    font-size: 54px;
    line-height: 120%;
  }

  /* TOMATO ABOUT-US MOBILE */
  .tomato__about-us {
    padding-bottom: 150px;
  }

  .tomato__about-us__title {
    font-size: 60px;
    line-height: 82px;
  }

  .tomato__about-us__card {
    width: 100%;
    max-width: unset;
  }

  .tomato__about-us__card::before {
    position: absolute;
    /* top: 600px; */
    right: calc(50% - 45px);
    width: 94px;
    height: 91px;
    background-image: url("../images/decoration-arrow1.png");
    background-repeat: no-repeat;
    background-size: 93px 91px;
    content: "";
  }



  .tomato__about-us__card::after {
    display: none;
  }

  .tomato__about-us__card:nth-of-type(even) {
    margin-left: 0;
    margin-top: 190px;
  }

  .tomato__about-us__card--small {
    width: 100%;
    max-width: unset;
  }

  .tomato__about-us__card-img {
    width: 100%;
    height: 233px;
    margin-bottom: 16px;
  }

  .tomato__about-us__card--small .tomato__about-us__card-img {
    width: 100%;
    height: 233px;
  }

  .tomato__about-us__card-txt {
    font-size: 16px;
  }

  /* TOMATO GALLERY MOBILE */
  .tomato__gallery {
    padding-bottom: 94px;
  }

  .tomato__gallery__title {
    margin-bottom: 163px;
    font-size: 49px;
  }

  .tomato__gallery__title::after {
    width: 60px;
    height: 70px;
    top: 220px;
    right: 36px;
    background-size: contain;
  }

  .tomato__gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tomato__col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tomato__img {
    display: block;
    width: unset;
    height: unset;
    margin-bottom: 8px;
  }

  .tomato__col3 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tomato__col3>picture:nth-child(1) img {
    margin-top: -105px;
  }

  .tomato__col3>picture:nth-child(3) img {
    margin-top: -65px;
    margin-right: 178px;
  }

  /* TOMATO SWEET MOBILE */
  .tomato__sweet {
    padding-bottom: 126px;
  }

  .tomato__sweet-wrapper {
    position: relative;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }

  .tomato__sweet-wrapper::after {
    position: absolute;
    bottom: 90px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    content: "";
  }

  .tomato__sweet__title-wrapper {
    padding: 24px 0;
    border-right: 0;
    border: none;
  }

  .tomato__sweet__title {
    max-width: unset;
    font-size: 34px;
    letter-spacing: -0.03em;
  }

  .tomato__sweet__txt-wrapper {
    padding: 24px 0;
  }

  .tomato__sweet__txt {
    max-width: initial;
    padding: 0;
    font-weight: 800;
    font-size: 18px;
    border: none;
  }

  .tomato__sweet__txt::after {
    position: absolute;
    bottom: -100px;
    right: 0px;
    width: 60px;
    height: 60px;
  }

  /* TOMATO CONTACT MOBILE*/
  .tomato__contact {
    padding-top: 56px;
    padding-bottom: 215px;
    background-image: url("../images/tomato-contact-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: left calc(50% - 112px) bottom 50px;
    background-size: 188px 170px;
  }

  .tomato__contact__container {
    max-width: unset;
  }

  .tomato__contact__title {
    font-size: 70px;
    line-height: 96px;
  }

  .tomato__contact__tel-wrapper {
    max-width: unset;
    padding: 26px 120px 26px 80px;
    margin-bottom: 50px;
    background-size: 48px, 32px;
    background-position: top 24px left 16px, center right 16px;
  }

  .tomato__contact__subtitle {
    font-size: 14px;
    line-height: 19px;
  }

  .tomato__contact__tel {
    font-size: 18px;
    line-height: 25px;
  }

  .tomato__contact__email-wrapper {
    max-width: unset;
    padding: 24px 93px 24px 80px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: 48px, 32px;
    background-position: top 24px left 16px, center right 16px;
  }

  .tomato__contact__mail {
    font-size: 18px;
    line-height: 25px;
  }

  .tomato__contact__address-wrapper {
    max-width: unset;
    padding: 24px 76px 24px 80px;
    background-size: 48px, 32px;
    background-position: top 34px left 16px, center right 16px;
    word-break: break-word;
  }

  .tomato__contact__address {
    font-size: 18px;
    line-height: 25px;
  }

  .tomato__contact__address-txt {
    font-style: normal;
    padding-right: 10px;
  }

  /* TOMATO FOOTER MOBILE */
  .tomato__footer {
    padding: 48px 0;
  }

  .tomato__footer__container {
    flex-wrap: wrap;
    justify-content: initial;
  }

  .tomato__footer__main-logo {
    width: 136px;
    height: 35px;
    margin-right: auto;
  }

  .tomato__footer__socials {
    max-width: 260px;
    margin-top: 40px;
    order: 3;
    padding: 0;
    margin: 40px auto 0 auto;
  }

  .tomato__footer__socials-link svg {
    width: 40px;
    height: 40px;
  }

  .tomato__footer__socials-item:not(:last-child) {
    margin-right: 48px;
  }

  .tomato__footer__produced-by-logo {
    width: 150px;
    height: 55px;
    order: 2;
  }
}

@media only screen and (min-width: 376px) and (max-width: 576px) {
  .tomato__about-us__card::before {
    bottom: 430px !important;
  }
}


@media only screen and (min-width: 414px) and (max-width: 743px) {

  .tomato__col {
    width: 49%;
  }

  .tomato__picture {
    width: 100%;
  }

  .tomato__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  .tomato__col3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tomato__col3 .tomato__picture {
    width: 49%;
  }

  .tomato__col3>picture:nth-child(1) img {
    margin-top: -50px;
  }

  .tomato__col3>picture:nth-child(3) img {
    margin-top: -100px;
  }

  .tomato__gallery__title {
    font-size: 75px;
  }

  .tomato__about-us {
    padding-bottom: 100px;
  }

  .tomato__gallery__title::after {
    right: 30px;
    top: unset;
    bottom: -50px;
    width: 120px;
    height: 120px;
  }

  .tomato__footer__produced-by-logo {
    display: none;
  }

  .tomato__about-us__title {
    font-size: 100px;
  }

  .tomato__about-us__card {
    width: 100%;
    max-width: unset;
  }

  .tomato__about-us__card::before {
    top: unset;
    bottom: 500px;
    right: 220px;
    background-size: contain;
  }

  .tomato__about-us__card::after {
    display: none;
  }

  .tomato__about-us__card .tomato__about-us__card-img {
    width: 100%;
    max-width: unset;
  }

  .tomato__about-us__card:nth-of-type(2n) {
    margin-top: 200px;
  }

  .tomato__contact {
    background-position: left calc(50% - 250px) bottom 50px;
  }

}

@media only screen and (max-width: 374px) {
  .tomato__hero__download-presentation-link {
    padding: 12px 12px 12px 36px;
    background-position: left 10px center;
  }

  .tomato__about-us__card::before {
    top: 700px;
  }

  .tomato__col {
    width: 100%;
  }

  .tomato__picture {
    width: 100%;
    height: auto;
  }

  .tomato__img {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .tomato__col3>picture:nth-child(1) img {
    margin-top: 0;
  }

  .tomato__col3>picture:nth-child(3) img {
    margin-top: 0;
  }

  .tomato__contact__tel-wrapper {
    padding: 26px 26px 26px 80px;
  }

  .tomato__contact__email-wrapper {
    padding: 26px 26px 26px 70px;
  }

  .tomato__footer__main-logo {
    width: 40%;
  }

  .tomato__footer__produced-by-logo {
    width: 130px;
    height: auto;
  }
}





@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}