/* TOMATO */
.tomato {
  background-image: url("../images/tomato-body-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* TOMATO HEADER DESKTOP */
.tomato__header {
  padding-top: 30px;
}

.tomato__header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tomato__language {
  border-color: #DE0D17;
}

.tomato__switch-circle {
  background-color: #DE0D17;
}

/* TOMATO HERO DESKTOP*/
.tomato__hero {
  padding-top: 134px;
  padding-bottom: 500px;
  background-image: url("../images/tomato-hero-bg.png");
  background-repeat: no-repeat;
  background-position: top 100px right calc(50% - 650px);
  background-size: 1073px 750px;
}

.tomato__hero__content {
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
}

.tomato__hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: -0.04em;
  color: #000000;
}

.tomato__hero__txt {
  margin: 0;
  width: 100%;
  max-width: 700px;
  margin-bottom: 40px;
  font-weight: 500;
}

.tomato__hero__link {
  display: inline-block;
  margin-right: 24px;
  padding: 16px 40px 18px 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  background-color: #DE0D17;
  border-radius: 8px;
  text-decoration: none;
}

.tomato__hero__download-presentation-link {
  display: inline-block;
  padding: 16px 32px 18px 72px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #DE0D17;
  background-color: #FFFFFF;
  border: 1px solid #DE0D17;
  border-radius: 8px;
  text-decoration: none;
  background-image: url("../images/icon-download-red.svg");
  background-repeat: no-repeat;
  background-position: left 32px top 18px;
}

/* TOMATO TASTE DESKTOP */
.tomato__taste {
  padding-bottom: 522px;
  background-image: url("../images/taste-bg.png");
  background-repeat: no-repeat;
  background-position: left calc(50% - 650px) bottom;
}

.tomato__taste__title {
  margin: 0;
  font-weight: 300;
  font-size: 210px;
  line-height: 240px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #000000;
}


@media only screen and (max-width: 744px) {
  /* TOMATO TABLET*/
  .tomato {
    background-image: url("../images/tomato-body-bg-tablet.png");
  }
  /*TOMATO HEADER TABLET  */
  .tomato__logo {
    width: 140px;
    height: 52px;
  }

  /* TOMATOES HERO TABLET*/
  .tomato__hero {
    padding-top: 120px;
    padding-bottom: 451px;
    background-image: url("../images/tomato-hero-bg-tablet.png");
    background-position: bottom 180px right calc(50% - 230px);
    background-size: contain;
  }

  .tomato__hero__content {
    width: 100%;
    max-width: unset;
    margin-right: 0;
  }

  .tomato__hero__title {
    padding-right: 20px;
    font-size: 70px;
    line-height: 96px;
    text-align: left;
  }

  .tomato__hero__txt {
    max-width: 420px;
    font-size: 16px;
    line-height: 160%;
  }

  /* TOMATO TASTE TABLET*/
  .tomato__taste {
    padding-bottom: 471px;
    background-image: url("../images/taste-bg-tablet.png");
    background-position: left calc(50% - 280px) bottom 150px;
  }
  
  .tomato__taste__title {
    font-size: 100px;
    line-height: 110%;
  }
}

@media only screen and (max-width: 576px) {
  /* TOMATO MOBILE*/
  .tomato {
    background-image: url("../images/tomato-body-bg-mobile.png");
  }

  /* TOMATO MOBILE*/
  .btn-scroll-top {
    bottom: 50px;
    right: 16px;
  }

  /* TOMATO HEADER MOBILE */

  .tomato__logo {
    width: 120px;
    height: 48px;
  }

  .tomato__language {
    width: 92px;
    height: 37px;
  }

  .tomato__switch-circle {
    width: 42px;
    height: 29px;
  }

  /* VERY_BERRY HERO MOBILE*/
  .tomato__hero {
    padding-top: 53px;
    padding-bottom: 324px;
    background-image: url("../images/tomato-hero-bg-mobile.png");
    background-position: bottom 120px right calc(50% - 70px);
  }

  .tomato__hero__content {
    width: 100%;
    max-width: unset;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tomato__hero__title {
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -.05em;
  }

  .tomato__hero__txt {
    width: 100%;
    max-width: unset;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.02em;
  }

  .tomato__hero__links-wrapper {
    display: flex;
    align-items: center;
  }

  .tomato__hero__link {
    flex-shrink: 0;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .tomato__hero__download-presentation-link {
    display: inline-block;
    padding: 12px 24px 12px 58px;
    font-size: 16px;
    line-height: 22px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 24px top 14px;
    flex-shrink: 1;
  }

  /* TOMATO TASTE MOBILE*/
  .tomato__taste {
    padding-bottom: 300px;
    background-image: url("../images/taste-bg-mobile.png");
    background-position: left calc(50% - 160px) bottom 40px;
  }
  
  .tomato__taste__title {
    font-size: 54px;
    line-height: 120%;
  }
}